.git/
__pycache__/
*.pyc
*.pyo
*.pyd
outputs/
wandb/
docs/
.idea/
.env
playground.py
*.egg-info/
.eggs/
dist/
build/
.mypy_cache/
.pytype/
.tox/
.hypothesis/
.pytest_cache/
.coverage
htmlcov/
site/
*.so
*.manifest
*.spec
